<h1>The Vision Board <small>or Million Dollar Bucket List</small></h1>
<div class="col-md-8">
  <p>Hi, my name is Chris Thompson and I created this app while working through the <a href="http://www.Bloc.io" target="_blank">Bloc.io</a> online bootcamp for Full Stack Developers.</p>
  <p>It was my first experience with Ruby, rails, and the command line, but after 12 weeks of intense programming I humbly submit this web application as my capstone project.</p>
  <p>My goals for my apprenticeship were: </p>
    <ul>
      <li>Get back into a 40 hour work week environment (I'm a stay at home dad)</li>
      <li>Re-learn fundemental programming concepts from a mentor, as opposed to an online tutorial</li>
      <li>Work with multiple API's and integrate them into my applicaitons</li>
      <li>Create an application that utilizes e-commerce payment systems</li> 
    </ul>
  <p>I'm proud to say that the Bloc bootcamp helped me fulfill all of my goals, and enhanced my personal portfolio. Beyond the new programming language (Ruby), I also was able to get hands on experience with Github, Bootstrap, Heroku, Cloud 9, CodeWars, and the Nitrous IDE.  All of which I hope allow me to re-enter the workforce at a running start.</p>
  <p>If you have questions, problems, or want to complain, <a href="https://github.com/xgicmt">fork me</a> on Github</p> 
</div>