<h2>Select Your Vision Board</h2>
  <div class="col-md-4">
  <hr>
    <% @boards.each do |board| %>
     <p>
       <%= link_to board.name, board, data: { 'no-turbolink' => true } %>
     </p>
    <% end %> 
  <hr>
    <%= link_to 'Create A New Vision Board', new_board_path, class: 'btn btn-primary btn-sm'%>
  </div>