@import "bootstrap-sprockets";
@import "bootstrap";
.alert{clear:both;}
.dropBox{width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;}
.searchedImages{margin:10px; border:solid black 2px;}
.gridster ul li{
  list-style-type:none;
  padding:10px;
  background-color:darkgrey;
  border:2px solid white;
}
.gridster{
	background-color:lightgrey;
	border:gray, 2px solid;
	border-radius:10px;
	min-height:600px;
	margin-bottom:15px;
}
#previews {
  margin-top:25px;
  overflow-x: scroll;
  outline:2px solid black;
  height:325px;
}
.imagePrice {
  display:none;
  position: absolute;
  bottom:0;
  right:0;
  left:0;
  text-align:center;
  padding: 0 10px;
  color: blue;
  background-color: rgba(255, 255, 255, 0.3);
}
.deleteButton {
  display:none;
  position: absolute;
  top: 3px;
  right: 3px;
  height:20px;
  width:20px;
  text-align:center;
  border-radius: 100%;
  background-color: rgba(255, 55, 55, .3);
  padding:3px;
  font-size: 18px;
  line-height:14px;
  color:blue;
}
.deleteButton a:hover{text-decoration: none;}
.editButton a:hover{text-decoration: none;}
.editButton {
  display:none;
  position: absolute;
  top: 3px;
  right: 26px;
  height:20px;
  width:20px;
  text-align:center;
  border-radius: 100%;
  background-color: rgba(55, 255, 55, .3);
  padding:3px;
  font-size: 25px;
  line-height:10px;
  color:blue;
}

	
		.tooltipLovers{
   			display: inline;
    		position: relative;
		}
		
		.tooltipLovers:hover:after{
    		background: #333;
    		background: rgba(0,0,0,.8);
    		border-radius: 5px;
    		bottom: 26px;
    		color: #fff;
    		content: attr(title);
    		left: 20%;
    		padding: 5px 15px;
    		position: absolute;
    		z-index: 98;
    		width: 220px;
    		font-size:12px;
		}
		
		.tooltipLovers:hover:before{
    		border: solid;
    		border-color: #333 transparent;
    		border-width: 6px 6px 0 6px;
    		bottom: 20px;
    		content: "";
    		left: 50%;
    		position: absolute;
    		z-index: 99;
		}
	

.gs-w {
  background-size: 100% 100%;
  background-repeat:no-repeat;
}
.gs-w:hover > div{
  display:block;
}
.gs-w:hover > p{
	display:block;
}
.topLoader {
	display:none;
  background-color: rgba(255, 255, 255, 1);
  height: 150px;
  position:relative;
}
.pixabay{
	margin:3px 15px 5px 0;
	font-size:13px;
	line-height:1.4;
	color:#777;
	display:block;
	padding:8px 12px 7px;
	border:1px solid #aaa;
}
/*********************LOADER ICON***********************/
.loader {
  z-index:99;
  font-size: 10px;
  position: absolute;
  top:20%;
  left:40%;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/***************************END LOADER*************************/

